<!DOCTYPE html>
<html xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Tecshop</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-dark btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCliente">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listadoCategoria" id="categorias">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card">
                                <h4>[[#{categoria.titulo}]]</h4>
                            </div>
                            <div th:if="${categorias != null and !categorias.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr class="table-info">
                                            <th>#</th>
                                            <th th:text="#{categoria.descripcion}">Descripción</th>
                                            <th th:text="#{categoria.activo}">Activa</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="categoria, contador : ${categorias}">
                                            <td class="table-success">[[${contador.count}]]</td>
                                            <td class="table-success">[[${categoria.descripcion}]]</td>
                                            <td class="table-success">[[${categoria.activo}]]</td>
                                            <td class="table-danger">
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/categoria/eliminar/}+${categoria.idCategoria}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td class="table-warning">
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/categoria/modificar/}+${categoria.idCategoria}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${categorias == null or categorias.empty}">
                                <span th:text="#{categoria.no_mostrar}">Categoria vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section th:fragment="agregarCategoria">
            <div id="agregarCliente" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Categoria</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/categoria/guardar}" th:object="${categoria}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="descripcion" th:text="#{categoria.descripcion}">Descripcion</label>
                                    <input type="text" class="form-control" name="descripcion" required="true">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label" for="activo" th:text="#{categoria.activo}">Activo</label>
                                    <input type="checkbox" class="form-check-input" name="activo" >
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <section th:fragment="editarCategoria">            
            <form method="POST"
                  th:action="@{/categoria/guardar}"
                  th:object="${categoria}"
                  class="was-validated">
                <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
                <section th:replace="categoria/fragmentosCategoria :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="descripcion" th:text="#{categoria.descripcion}">Descripcion</label>
                                            <input type="text" class="form-control" name="descripcion" required="true">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-check-label" for="activo" th:text="#{categoria.activo}">Activo</label>
                                            <input type="checkbox" class="form-check-input" name="activo" >
                                        </div>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/categoria/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/categoria/eliminar/}+${categoria.idCategoria}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
