<!DOCTYPE html>

<html>
    <head th:replace="layout/plantilla :: head">
        <title>Tecshop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <section th:replace="categoria/fragmentosCategoria :: botonesAgregar"/>
        <section th:replace="categoria/fragmentosCategoria :: agregarCategoria"/>
        <section th:replace="categoria/fragmentosCategoria :: listadoCategoria"/>

        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
